table {  
  font-family: arial, sans-serif;  
  width: 100%;
	border-collapse:collapse;
}  
  
td, th {    
	border:1px solid black;
  text-align: left;  
  padding: 15px;  
}  
tr:nth-child(odd) {  
  background-color: lightblue;  
}  

/* Your CSS Code here. */